# Various IDEs and Editors
.vscode/
.idea/
**/*~

# dfx temporary files
homework-submission/homework1/qsort/.dfx

# frontend code
homework-submission/homework1/qsort/node_modules
homework-submission/homework1/qsort/dist
homework-submission/homework1/qsort/src/declarations


# Mac OSX temporary files
.DS_Store
**/.DS_Store

# dfx temporary files
**/.dfx/

# frontend code
**/node_modules/
**/dist/

**/declarations/