# Various IDEs and Editors
.vscode/
.idea/
**/*~

# dfx temporary files
homework-submission/homework1/qsort/.dfx

# frontend code
homework-submission/homework1/qsort/node_modules
homework-submission/homework1/qsort/dist
homework-submission/homework1/qsort/src/declarations

# yifanweng
final-demo/yifanweng/todolist/.dfx
final-demo/yifanweng/todolist/node_modules
final-demo/yifanweng/todolist/dist
final-demo/yifanweng/todolist/src/declarations
